<!-- Footer -->
<div class="container-fluid">


 <div class="col-md-4 text-success">

       <h4>Around On The Web</h4>
 </div>
<div class="footer-icons">


               <a><img src="/camera1.png" href="http://www.twitter.com" class="btn-social btn-outline" class="twitter icon"></i></a>


              <a><img src="/twitter.png" href="http://www.twitter.com" class="btn-social btn-outline" class="githu icon"></i></a>


               <a><img src="/7star.png" href="http://www.twitter.com" class="btn-social btn-outline" class="github icon"></i></a>

                <a><img src="/github.png" href="http://www.twitter.com" class="btn-social btn-outline" class="gitb icon"></i></a>
</div>

   </div>





 </div>
</div>
