<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <style type="text/css" black-background {background-color:#000000; white {color:#ffffff}></style>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/about.html">About</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/news.html">News/Politics</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/tutorials.html">Tutorials</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/photos.html">Photo Albums</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/randomnes.html">Random(ness)</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/videolist.html">Videos</a>
    <a class="p-2 text-muted btn btn-primary black-background white" href="{{site.baseurl}}/contact.html">Contact Info</a>
  </nav>
</div>
