<div class="navbar">
  <nav class="nav d-flex justify-content-between">
    <a class="btn btn-secondary" href="{{site.baseurl}}/about.html">About</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/news.html">News/Politics</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/tutorials.html">Tutorials</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/photos.html">Photo Albums</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/randomnes.html">Random(ness)</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/videolist.html">Videos</a>
    <a class="btn btn-secondary" href="{{site.baseurl}}/contact.html">Contact Info</a>
  </nav>
</div>
