.card {
  box-sizing: 10px;
  align-self: left;
  background-color: blue;
  outline-width: thick;
}

.card-body {

  align;
  min-height: 250px;
  max-height: 250px;
  background-color: black;
  min-width: 650px;
  max-width: 650px;
  font-size: 22px;
  outline-color: red

}


.nav {
  padding: 10px;
  align-content;
  

}
.btn-primary {
background-color: light!important;
min-width: 20px!important;

}
.playbutton {
  background-color: black
}
