---
layout: default
---

<div class="jumbotron p-3 p-md-5" <style="rounded background-color: #686c72"></style>>
   <div class="col-md-12 px-0">
     <h2 class="font-italic"> {{site.posts.last.title}}</h2>
     <p class="lead my-3">  {{site.posts.last.excerpt}}</p>
     <p class="lead mb-0"><a href="{{ site.url }}{{ post.url }}.html" class="text-white font-weight-bold">Continue reading...</a></p>
   </div>
</div>


<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Vidoes</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Featured Video</a>
        </h3>

        <p class="card-text mb-auto">{{site.posts.first.title}}</p>
        <a href="#">{{site.posts.first.description}}</a>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" <img src="assets/img/hexy.jpg" data-src="{{site.baseurl}}/assets/img/hexy.jpg" alt=height="200" width="200">
    </div>
  </div>

  <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">{{site.posts.first.title}}</a>
          </h3><p class="card-text mb-auto"></p>
          <a href="#">{{site.posts.first.description}}</a>
          <a href="#">Continue reading</a>
        </div>
        <img class="card-img-right flex-auto d-none d-lg-block" <img src="assets/img/box.jpg" alt=height="200" width="200">
      </div>
    </div>
  </div>
</div>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          From the Wheel House
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">{{site.posts.first.title}}</h2>
          <a class="blog-post-meta">{{site.posts.first.date | date: "%B %d, %Y"}}</a>
          <a>By {{site.posts.first.author}}</a>


          <p>{{site.posts.first.content}}</p>
        </div><!-- /.blog-post -->

        <nav class="blog-pagination">
                  <a class="btn btn-outline-primary" href="#">Older</a>
                  <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                </nav>

              </div><!-- /.blog-main -->

              <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                  <h4 class="font-italic">About</h4>
                  <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>

                <div class="p-3 bg-light">
                  <h4 class="font-italic">Archives</h4>
                  <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                  </ol>
                </div>

                <div class="p-3">
                  <h4 class="font-italic">Elsewhere</h4>
                  <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                  </ol>
                </div>
              </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->

          </main><!-- /.container -->
